@font-face {
	font-family: 'Mathlete';
	src: url('../fonts/Mathlete-Bulky-webfont.eot');
	src: url('../fonts/Mathlete-Bulky-webfont.eot?iefix') format('eot'),
	     url('../fonts/Mathlete-Bulky-webfont.woff') format('woff'),
	     url('../fonts/Mathlete-Bulky-webfont.ttf') format('truetype'),
	     url('../fonts/Mathlete-Bulky-webfont.svg#webfont') format('svg');
}


body {
    padding: 16px;
    font-size: 16px;
}

input[type=search] {
	background: #ffffff;
	border-style: solid;
	border-color: #afafaf;
	border-width: 1px 1px 3px 1px;
	border-radius: 0;
	padding: 4px;
}

input[type^=button], input[type^=submit] {
	background: #efefef;
	border-style: solid;
	border-color: #afafaf;
	border-width: 1px 1px 3px 1px;
	border-radius: 0;
	padding: 4px;
}

input[type^=button]:active, input[type^=submit]:active {
	position: relative;
	top: 2px;
	border-width: 1px 1px 1px 1px;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
}

#banner {
    height: 128px;
    line-height: 128px;
    text-align: center;
}

#banner .title {
    font-size: 128px;
    font-family: "Mathlete", serif;
}

#search-box {
    width: 100%;
    padding: 0;
    margin: 0 0 8px 0;
}

#search-input {
    width: 438px;
    float: left;
}

#q {
    width: 256px;
}

#search-sort {
    margin: 16px 0 16px 0;
}

#search-sort input[type=radio] {
    margin: 0 0 0 0;
    border-radius: 0;
}

#search-sort label {
    margin: 0 8px 0 0;
}

#search-help {
    width: 438px;
    float: right;
}

#search-results {
    width: 926px;
    height: 100%;
}

#content {
    display: none;
}

.block {
    padding: 0 16px 24px 16px;
}

.test-query {
    margin-bottom: 4px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}
