@font-face {
	font-family: 'Mathlete';
	src: url('../fonts/Mathlete-Bulky-webfont.eot');
	src: url('../fonts/Mathlete-Bulky-webfont.eot?iefix') format('eot'),
	     url('../fonts/Mathlete-Bulky-webfont.woff') format('woff'),
	     url('../fonts/Mathlete-Bulky-webfont.ttf') format('truetype'),
	     url('../fonts/Mathlete-Bulky-webfont.svg#webfont') format('svg');
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

input, button {
    border-color: #8f8f8f;
    border-style: solid;
    border-width: 1px 1px 4px 1px;
    border-radius: 0;
}

input[type="text"] {
    padding: 4px;
}

label[name="search-sort"] {
    margin-right: 8px;
}

button {
    padding: 4px 6px;
    background: #f8f8f8;
	margin-bottom: 4px;
}

button:active {
    position: relative;
    top: 3px;
    border: 1px solid #8f8f8f;
}

#wrapper {
    position: relative;
    width: 960px;
    min-height: 100%;
    margin: 0 auto;
}

#banner {
    width: 100%;
    height: 128px;
    /*background: #f5f5f5;*/
    line-height: 128px;
    font-family: 'Mathlete', sans-serif;
    font-size: 96px;
    text-align: center;
}

#menu {
    width: 100%;
    height: 48px;
    background: #efefef;
}

#content {
    width: 100%;
    /*min-height: 100%;*/
    margin: 0 auto;
    padding: 0 0 64px 0;
}

#footer {
    width: 100%;
    height: 64px;
    position: absolute;
    bottom: 0;
    background: #fafafa;
}

#search-input {
    width: 300px;
}

#search-results-table {
	display: none;
	width: 100%;
	table-layout: fixed;
	word-wrap: break-word;
	border: 1px solid #afafaf;
}

#search-results-table tr:nth-child(even) {
    background: #fbfbfb;
}

#search-results-table thead {
	background: #f6f6f6;
	/*background: #afafaf;*/
}

#search-results-table th, td {
	padding: 8px;
	border-style: solid;
	border-color: #afafaf;
	border-width: 0px 1px 1px 0px;
}

#search-results-message {
	display: inline;
}

.cell-32px {
	width: 32px;
}

.cell-320px {
	width: 320px;
}

.box {
    width: 464px;
    margin: 0;
	/*padding: 8px;*/
    margin: 4px;
	/*border: 1px solid #afafaf;*/
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

.margin-bottom-8px {
    margin-bottom: 8px;
}

.box-deep {
    border-color: #8f8f8f;
    border-style: solid;
    border-width: 1px 1px 4px 1px;
    border-radius: 0;
}
